<template>
    <footer class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="footer-logo">
                        <img src="../../Images/footer-logo.png" alt="eatsy" />
                    </div>
                    <h1><a href="#">More money in your pocket?</a></h1>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Press Inquiries</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>   
                        <div class="col-md-6">
                            <ul>
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">Linkedin</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">AngelList</a></li>                               
                            </ul>
                        </div>              
                    </div>
                </div>
            </div>    
        </div>
    </footer>
</template>